data/
test_data/
.classpath
.project
*.iml
*.swp
.idea/*
.metadata/*
Servers/*
package/*
*.ipr
*.iws
**.settings
**.svn
**target
**logs/
**test-output
cscope*
**.DS_Store
*.externalToolBuilders/
**.idea/
website/cas/overlays/
**resolvedPom.xml
java/.metadata/*
java/Servers/*
**heisenberg_backup
**/bin/src/*
**/bin/.gitignore
**/bin/pom.xml
**/.gitignore
push.sh
